<div class="md:h-96 w-full  z-1 mt-10 justify-between {{ pos_abs }} bg-white {{ top }}">
        <div class="flex md:flex-row flex-wrap justify-between">
            {{ replicator }}
                <a href="{{assets}}" class="cursor-pointer w-full xl:w-5/12 m-2 border border-black rounded-xl">
                    {{ thumbnail }}
                    <img src="{{ url }}" class="w-full object-cover h-56 rounded-xl  ">
                    {{ /thumbnail }}
                </a>
            {{ /replicator}}
        </div>
</div>