/node_modules
/public/assets/download-centre-zips
/public/assets
/public/hot
/public/storage
/public/vendor/statamic
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.php_cs.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
/storage
/users/jjackson19862017@gmail.com.yaml
/public/.htaccess
