{{ if site=="english"}}
    <a href="{{ if homepage != "/"}}{{homepage}}{{/if}}/mudguard-search"> 
        <img src="/assets/products/commercial-vehicle/mudguards/mudguard_filter_bar-ENGLISH.png" alt="" srcset="" class="w-full h-24">
    </a>
{{ /if }}
{{ if site=="usa"}}
    <a href="{{ if homepage != "/"}}{{homepage}}{{/if}}/mudguard-search"> 
        <img src="/assets/products/commercial-vehicle/mudguards/mudguard_filter_bar-ENGLISH.png" alt="" srcset="" class="w-full h-24">
    </a>
{{ /if }}
{{ if site=="france"}}
    <a href="{{ if homepage != "/"}}{{homepage}}{{/if}}/mudguard-search"> 
        <img src="/assets/products/commercial-vehicle/mudguards/mudguard_filter_bar-FRENCH.png" alt="" srcset="" class="w-full h-24">
    </a>
{{ /if }}
{{ if site=="germany"}}
    <a href="{{ if homepage != "/"}}{{homepage}}{{/if}}/mudguard-search"> 
        <img src="/assets/products/commercial-vehicle/mudguards/mudguard_filter_bar-GERMAN.png" alt="" srcset="" class="w-full h-24">
    </a>
{{ /if }}
{{ if site=="spain"}}
    <a href="{{ if homepage != "/"}}{{homepage}}{{/if}}/mudguard-search"> 
        <img src="/assets/products/commercial-vehicle/mudguards/mudguard_filter_bar-SPANISH.png" alt="" srcset="" class="w-full h-24">
    </a>
{{ /if }}