<section class="-mx-5 main__panel_small bg-light-grey">
        <div class="container w-11/12 md:w-full">
                <div class="font-bold text-2xl"
                data-aos='fade-up'
                                data-duration="900"
                                data-aos-delay="300"
                                data-easing="ease-in-out">
                        {{ title }}
                </div>
                    
                <div class="text-lg mt-4"
                data-aos='fade-right'
                data-duration="900"
                data-aos-delay="300"
                data-easing="ease-in-out">
                        {{ content }}
                </div>
        
        
        </div>
        
        </section>
        
        <section class="-mx-5 main__panel_small bg-light-grey">
            <div class="container w-11/12 md:w-full">
                <div class="space-y-4">
                    {{ replicator }}
                        <div class="text-2xl underline"
                        data-aos='fade-right'
                        data-duration="900"
                        data-aos-delay="300"
                        data-easing="ease-in-out"
                        >
                            {{ heading }}
                        </div>
                        
                        <div class="text-lg mt-2 bulleted"
                        data-aos='fade-left'
                        data-duration="900"
                        data-aos-delay="300"
                        data-easing="ease-in-out">
                            {{ body }}
                        </div>
                    {{ /replicator }}
                </div>
            </div>
        </section>