<div class="h-full">

    {{ partial:partials/hero mini="true"  }}

    {{ grid_content }}
    
    <section class="md:-mx-5 wave-box main__panel_small md:main__panel md:mt-12">

            <div class="relative md:mt-16">
               
                    {{ svg src="/assets/site/wave-white.svg" class="absolute bottom-0 hidden transform stroke-current text-light-grey -top-32 rotate-y-180 md:block z-0"  }}
                    {{ svg src="/assets/site/wave-white.svg" class="z-1 absolute bottom-0 hidden transform stroke-current text-white md:top-56 rotate-y-180 md:block"  }}
                    
                    
                <div class="container row flex w-full relative z-1 {{ last == 1  ?= 'md:flex-row-reverse'  }} justify-between flex-col md:flex-row">
                    <div class="py-4 md:w-2/3 md:mx-0 {{ last == 1  ? 'md:pl-10' : 'md:pr-10'  }}">
                        <h2 class="text-4xl md:text-2xl lg:text-4xl font-bold"
                        data-aos='fade-right'
                        data-duration="900"
                        data-aos-delay="300"
                        data-easing="ease-in-out"
                        >{{ wave_title ?? introduction_title ?? title }}</h2>
                        <div class="mt-4 text-lg md:text-md lg:text-xl xl:text-2xl"
                        data-aos='fade-right'
                        data-duration="900"
                        data-aos-delay="500"
                        data-easing="ease-in-out"
                        >
                            {{ introduction ?? excerpt }}
                        </div>
                        
                            <div class="flex mt-4"
                            data-aos='fade-right'
                            data-duration="900"
                            data-aos-delay="700"
                            data-easing="ease-in-out">
                            {{ link_to }}
                            <a href="{{ url }}" class="readmore-button inline-block flex items-center transition duration-300 hover:text-blue text-light-blue text-xl place-self-start ">
                                {{ /link_to }}
                                
                                
                                <span class="mr-2 ">
                                    
                                    {{ link_text }}
                                </span>
                                <span class="material-icons-sharp bg-light-blue text-white rounded-full icon">
                                    chevron_right
                                </span>
                            </a>
                            
                                {{# partial:partials/readmore :text="link_text" text_color="text-light-blue" display="inline-block" classes=" text-xl place-self-start" icon_bg="bg-light-blue" #}}

                            </div>
                        
                    </div>
                    
                    <div class="w-full md:w-96 md:h-96 pt-2 md:pt-0">
                        
                            {{ wave_thumbnail }}
                                <img class="object-cover w-full h-full md:w-96 md:h-96" src="{{ url }} " alt="{{ alt }}">
                            {{ /wave_thumbnail }}
                        
                    </div>
                </div>
        
            </div>
        
        </section>
       
    {{ /grid_content }}




    {{# The smarter choice #}}

    {{# Mobile View #}}

    <section class="md:hidden relative overflow-hidden main__panel_small">
            <div class="container relative flex flex-col mb-6">
                <div class="relative top-0 left-0 text-2xl font-bold">
                    {{ card_grid_title }}
                </div>
    
                <div class="w-full mt-4 mb-6">
                    <div class="flex flex-row>
                        {{ card_grid }}
                            <div class="flex flex-col justify-center  text-white rounded  place-content-evenly">
                                <div 
        class="my-7 w-full relative flex flex-col tracking-tight text-white" 
        >
            <div class="h-full w-full">
                <div class="rounded-xl relative h-full p-4 item front bg-light-blue">
                    <div class="inner">
                        {{ if icon }}
                        <div data-aos='fade-up'
                        data-duration="900"
                        data-aos-delay="300"
                        data-easing="ease-in-out">
                            {{ icon }}
                            <img src="{{ url }}" class="w-24 h-24 object-contain mx-auto">
                               
                            {{ /icon}}
                        </div>
                        <div class="pt-6 text-md md:text-lg font-semibold"
                        data-aos='fade-right'
                                data-duration="500"
                                data-aos-delay="300"
                                data-easing="ease-in-out">{{ title }}</div>
                    {{ else }}
                        <div class="text-md md:text-lg font-bold text-center">{{ title }}</div>
                    {{ /if}}
                    
                    <div class="pt-2 space-y-2 text-md bulleted"
                    data-aos='fade-right'
                                data-duration="500"
                                data-aos-delay="300"
                                data-easing="ease-in-out">{{ text | safe_truncate:500 }}</div>
                </div>
                </div>
            </div>
        </div>
                            </div>
                        {{ /card_grid }}
                    </div>
                </div>
    
            </div>
    
        </section>

    <section class="hidden md:block relative -mr-5 overflow-hidden the-smarter-choice main__panel_small md:main__panel">
        <div class="container relative flex flex-col xl:flex-row xl:h-96 mb-6">
            <div class="relative top-0 -left-10 text-2xl font-bold xl:w-32">
                {{ card_grid_title }}
            </div>

            <div class="w-full mt-4 -mr-5 xl:mt-0 xl:absolute xl:top-0 xl:left-32 mb-6" style="width: 100%;">
                <div class="flex flex-no-wrap gap-4 smarter-choice-slider " x-data="smarterChoiceSlider()" x-init="init()" @resize.window="resize()">
                    {{ card_grid }}
                        <div class="flex flex-col justify-center  text-white rounded  place-content-evenly">
                            {{ partial:flipping_card what-am-i-flipping="smarter-choice" fixed-col="w-64 h-96" gap-size="m-2"}}
                        </div>
                    {{ /card_grid }}
                </div>
            </div>

        </div>

    </section>


    {{# read more #}}
    {{ partial:partials/_read_more_items }}



</div>

{{ section:scripts }}
    <script src="{{ mix src='/js/about.js' }}"></script>
{{ /section:scripts }}
